canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

body{

    background: linear-gradient(120deg, rgb(219, 77, 12), blue );
}

#ball{
    display : none;
}